streamlit
langchain
langchain-community
langchain-chroma
langchain-huggingface
langchain-text-splitters
huggingface_hub
chromadb
sentence-transformers
pymupdf
python-docx
python-pptx
openpyxl
xlrd
python-dotenv
tqdm